
<ion-content padding class="ionic-content">
    <p></p>
    <p></p>
    <p></p>
    <div on-tap="takePicture()">
       <img src="{{ base64Foto }}"  class="profile-img" />
    </div>

    <div class="profile-text">
        <ion-input type="text" [(ngModel)]="nomePerfil" placeholder="Nome de Usuario" class="profile-name" ></ion-input>

        <ion-list>
            <ion-item>
                <ion-label>Lingua</ion-label>
                <ion-select [(ngModel)]="lang">
                <ion-option value="pt">Português</ion-option>
                <ion-option value="en">English</ion-option>
                <ion-option value="es">Spanish</ion-option>
                <ion-option value="fr">French</ion-option>
                <ion-option value="zh-CN">Chinese</ion-option>
                <ion-option value="ja">Japanese</ion-option>
                <ion-option value="de">Deutsch</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

    </div>

</ion-content>