body {
  //max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background-color: #000000;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

input { 
    text-align: center; 
}



page-perfil {
@import url(http://fonts.googleapis.com/css?family=Lato:300);

.ionic-content {
    background-color: #f2f2f2;
    margin-top: 50px;

}

.profile-img {
  display: block;
  height: 7em;
  margin-right: auto;
  margin-left: auto;
  border: .5em solid #f2f2f2;
  border-radius: 100%;
  box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
}

.profile-text {
  margin-top: -3.5em;
  padding: 5em 1.5em 1.5em 1.5em; 
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}

.profile-name{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  //border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-language{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  text-align: center; 
  padding-bottom: .75em;
  font-size: 1.5em;
  //text-transform: uppercase;
}

.profile-title {
  color: #ccc;
}
}
