<ion-header>
  <ion-navbar>
    <ion-title>
        <div class="title">
        <img src="assets/images/logo.png" style="vertical-align: middle;" height="30" width="30" />
        Atendimento ao Turista
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div  *ngFor="let msg of chats">
      <div class="{{ msg.classe }}" >
        <div [hidden]="msg.isMapa">
        <p>
          {{msg.userName + ': ' + msg.message}}
        </p>
        </div>
        <div [hidden]="!msg.isMapa">
        <p>
          {{msg.userName + ': '}}
          <img src="{{ msg.message }}" />
        </p>
        </div>
      </div>
    </div>
</ion-content>

<ion-footer class="footer">
 <ion-row>
      <ion-col width-20>
        <button (click)="sendLocation()"  class="location-button">
           <ion-icon name="locate"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-60>
        <input type="text" [(ngModel)]="msgChat" class="message-input" />
      </ion-col>
      <ion-col width-20>
         <button (click)="send(msgChat, false)" class="send-button">
           <ion-icon name="send"></ion-icon>
         </button>
      </ion-col>
  </ion-row>
</ion-footer>
