page-chat {

.ionic-content {
    background-color: #f2f2f2;
    margin-top: 45px;
    margin-bottom: 70px;

}

/* Variables */
$border: #e6e6e6;
$black: #000;
$local: #26A65B;
$remote: #3498DB;
$headerfooter: whitesmoke;

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Messages */
.messages{ 
    padding-top: 65px;
    padding-bottom: 60px;
    overflow-y: auto;

}

.message-remote{
	position:relative;
  max-width: 45%;
	padding:5px 10px;
  margin: 1em 2em;
	color:white; 
	background: $remote;
	border-radius:25px;
	float: right;
  clear: both;
		
	&:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: .6em solid transparent; /* arrow size */
   border-left-color: $remote;  /* arrow color */
	/* positioning */
	position: absolute;
	bottom: 15px;
	right: -1em;
		
	}
  
}
  
  .message-local{
	position:relative;
   max-width: 45%;
	padding:5px 10px;
  margin: 0.3em 2em;
	color:white; 
	background: $local;
	border-radius:25px;
	float: left;
  clear: both;
		
	&:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: .6em solid transparent; /* arrow size */
   border-right-color: $local;  /* arrow color */
	/* positioning */
	position: absolute;
	bottom: 15px;
	left: -1em;
		
	}
    
 }

.footer{
  background-color: $headerfooter;
} 
  
  .message-input{
    width: 100%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    //height: 20px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid $border;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 16px;
    text-align: left; 
    vertical-align: middle;
  }
  
  .send-button{
    font-size: 22px !important;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    vertical-align: middle;
  }

  .location-button{
    font-size: 22px !important;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    vertical-align: middle;
  }
  


}
