<ion-header>
  <ion-navbar>
    <ion-title class="title">
        <img src="assets/images/logo.png" style="vertical-align: middle;" height="30" width="30" />
        Ajuda ao Turista
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-tabs selectedIndex="0">
    <ion-tab tabIcon="person" tabTitle="Perfil" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="chatbubbles" tabTitle="Conversa" [root]="tab2"></ion-tab>
</ion-tabs>

